.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    padding:0px;
    margin:0px;
}
section {
    width: 1440px;
}
@media(max-width:375px){
    section{
        width: 375px;
    }
}
ul {
    margin: 20px 50px 20px 10px;
    list-style: none;
    text-align: right;
    
}
li {
    display: inline-block;
    margin: 30px;
    
}
.botao {
    border: none;
    background-color: white;
    color: gray;
    font-family: Inter;
    font-weight: 400;
}
#logo {
    margin-right: 700px;
    text-align: left;
}
.imagemAzul {
    margin-left: 60px;
    width:860px;
    height:350px;
}
.boxPreta h1{
    font-family: Inter;
    font-weight: 700;
    font-size:35px;
    color: hsl(35, 77%, 62%);
}
.boxPreta h2{
    font-family: Inter;
    font-weight: 700;
    color: hsl(36, 100%, 99%);
    font-size: 16px;
}
.boxPreta {
    background-color: black;
    border-radius: 2px;
    font-size: 14px;
    color:hsl(36, 100%, 99%);
    font-family: Inter;
    font-weight: 400px;
    width: 400px;
    padding:20px;
}
.linha2{
    margin-left: 60px;
    display: inline-block;
    height:fit-content;
}
.titulo {
    font-family: Inter;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    font-size: 30px;
    text-align: left;
}
.texto {
    font-family: Inter;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    font-size: 18px;
    padding: 20px;
}
.botao1 {
    font-family: Inter;
    font-weight: 400;
    color: hsl(36, 100%, 99%);
    font-size: 18px;
    border:none;
    background-color: hsl(5, 85%, 63%);
    padding:10px;
    margin-top: 25px;
}