.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    padding:0px;
    margin:0px;
}
ul {
    margin: 20px 50px 20px 10px;
    list-style: none;
    text-align: right;
    
}
li {
    display: inline-block;
    margin: 30px;
    
}
.botao {
    border: none;
    background-color: white;
    color: gray;
    font-family: Inter;
    font-weight: 400;
}
#logo {
    margin-right: 700px;
    text-align: left;
}
.imagemAzul {
    margin-left: 60px;
    width:860px;
    height:350px;
}